* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h3 {
  padding: 0 5px 10px 5px;
  margin: 0;
  line-height: 1.1;
  font-size: 28px;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-top: 65px;
}

  .container img {
    width: 100%;
    margin: 3px;
    height: auto;
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }

  .container a img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

/* Nav */
.main-nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 20px 0;
  font-size: 20px;
  z-index: 10;
}

  .main-nav .nav-home {
    flex: 1;
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .main-nav .material-icons {
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav ul li {
    padding: 0 10px;
  }

.active:hover {
  background: transparent;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}

  .posts article {
    padding:  1rem 1.5rem;
  }

  .posts article:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
  }

  .posts .icon {
    font-size: xx-large;
    padding: 3px;
  }

.post {
  padding: 0 20px;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .posts article {
    flex-basis: 95%;
  }

  .col {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .posts article{
    flex-basis: 48%;
  }

  .col {
    width: 50%;
  }
}

/* Copyright */
#copyright {
  position: relative;
  cursor: default;
  font-size: 0.8rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem auto;
}

  #copyright ul {
    display: inline-flex;
  }

  #copyright ul li {
    margin: 6px;
    text-align: center;
  }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
  }

  .icon > .label {
    display: none;
  }

  .icon:before {
    line-height: inherit;
  }

  .icon.solid:before {
    font-weight: 900;
  }

  .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }